html{
    font-family: helvetica, arial, sans-serif;
}

body{
    font-size: 16px;
}

h1, h2{
    font-size:2rem;
    color: #247bc2;
    text-transform: uppercase;
    margin: 1.2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin: 1.2rem;
    font-size: 1.2rem;
}

.media_content h1 {
    text-align: center;
}

.nav_bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #292929;
}

.nav_bar img{
    height: 1.4rem;
    width: auto;
}

.nav_bar a{
    display: flex;
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    color: #c8c8c8;
    transition: 0.2s ease color;
}

.nav_bar a:hover, .nav_bar a:focus{
    color:#d87093;
}

.nav_bar .current {
    color:#00e2ff;
}

/* index page */
#longboard_video {
    width: 100%;
    height: auto;
}

#pause_video{
    position: absolute;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(255, 255, 255, 0.5);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight:300;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
    background-color: rgba(82, 82, 82, 0.3);
    }
div.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pause_video:hover {
    color: #000000;
    background-color: #ffffff;
}

.index_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.index_content p {
    background: #fafafa;
    border: 10px solid #fafafa;
    outline: 3px solid #333;
    box-shadow: 15px 15px #247bc2;
    margin-bottom: 3rem;
}

.index_content h1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.index_content h2 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}

.index_content p:first-of-type {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.index_content p:nth-of-type(2) {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
}

#longboard{
    width: 90%;
    height: auto;
    margin: 0;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    border: 10px solid;
    border-image: linear-gradient(to bottom, #247bc2, #d87093 20%, rgba(0,0,0,0)) 1;
    padding: 0 0 30px;
    background-clip: content-box;
}

#skateboard {
    width: 90%;
    height: auto;
    margin: 0;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    border: 10px solid;
    border-image: linear-gradient(to bottom, #247bc2, #d87093 20%, rgba(0,0,0,0)) 1;
    padding: 0 0 30px;
    background-clip: content-box;
}

#surfing {
    width: 90%;
    height: auto;
    margin: 0;
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
    /* align-self: stretch; */
    border: 10px solid;
    border-image: linear-gradient(to bottom, #247bc2, #d87093 20%, rgba(0,0,0,0)) 1;
    padding: 0 0 30px;
    background-clip: content-box;
}

#idownhill {
    width: 90%;
    height: auto;
    margin: 0;
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
    border: 10px solid;
    border-image: linear-gradient(to bottom, #247bc2, #d87093 20%, rgba(0,0,0,0)) 1;
    padding: 0 0 30px;
    background-clip: content-box;
}


/* freeride page */
.parallax h1{
    color:rgb(255, 255, 255);
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0.644);
}

.parallax {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0)   0%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/downhill.jpg'); /*Royalty Free from Unsplash*/
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 0.3em;
    text-align: center;
}

.freeride_content{
    background-color: #181818;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.freeride_content p, .freeride_content h2, .freeride_content h3{
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.freeride_content iframe {
    width: 100%;
    height: 30em;
}

.freeride_content img {
    height: 100%;
    width: 90%;
    margin: 2rem;
}


div#image_gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-template-rows: repeat(1, 1fr);
}

#image_gallery .image1, #image_gallery .image2, #image_gallery .image3, #image_gallery .image4, 
#image_gallery .image5, #image_gallery .image6, #image_gallery .image7, #image_gallery .image8, 
#image_gallery .image9, #image_gallery .image10, #image_gallery .image11 {
    overflow: hidden;
}

#image_gallery .image3 {
    grid-row: 2 / span 1;
}

#image_gallery .image4 {
    grid-row: 3 / span 1;
}

#image_gallery .image6 {
    grid-row: 9 / span 1;
}

div#image_gallery img:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: 400ms ease-out;
}

div#image_gallery img {
    width: 100%;
    height: 100%;
}

/* #d87093 */
/* Form */
.open-btn{
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form_popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form_container{
    max-width: 300px;
    padding: 10px;
    background-color: #ffffff;
}

.form_container legend {
    margin-bottom: 1rem;
    text-align: center;
}

.form_container input[type=text], .form_container input[type=email], .form_container input[type=tel], .form_container textarea{
    min-width: 17rem;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

.form_container textarea {
    max-width: 17rem;
    min-height: 4rem;
    max-height: 27rem;
}

.btn_send{
    background-color: #4CAF50;
    color: #ffffff;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.btn_cancel {
    background-color: #ff0000;
    color: #ffffff;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* fix footer */
footer {
    background-color: #838383;
	text-align: center;
    padding-bottom: 10px;
}

.social_media ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.social_media li{
    display: flex;
    align-self:center;
}

.social_media li:first-of-type {
    margin-top: 1rem;
}

/* Tablet View */
@media screen and (min-width: 680px){
    body{
        font-size: 20px;
    }

    h1, h2{
        font-size:2.3rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1.4rem;
    }

    .nav_bar {
        display: flex;
        flex-direction: row;
    }

    .nav_bar a{
        font-size: 1.8rem;
    }

    .nav_bar img{
        height: 1.6rem;
        width: auto;
    }

    .social_media ul{
        flex-direction: row;
    }

    .social_media li{
        margin-top: 1rem;
    }

    /* tablet freeride page */
    .parallax h1{
        width: auto;
    }

    .freeride_content iframe {
        height: 40em;
    }

    /* tablet media page */
    div#image_gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    #image_gallery .image2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    #image_gallery .image6 {
        grid-column:  2 / span 1;
        grid-row: 6 / span 1;
    }
}

/* Desktop View */
@media screen and (min-width: 1000px){
    h1, h2{
        font-size:3rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.8rem;
    }

    .nav_bar a{
        font-size: 2.25rem;
    }

    .nav_bar img{
        height: 2rem;
        width: auto;
    }

    #pause_video {
        font-size: 2rem;
    }

    /* desktop index page */
    .index_content {
        grid-template-columns: 2fr 2fr 1fr 1fr;
    }

    .index_content h1 {
        grid-column: 1 / span 3;
    }

    .index_content h2 {
        grid-column: 1 / span 3;
        grid-row: 4 / span 1;
    }

    .index_content p:first-of-type {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        overflow: hidden;
    }

    .index_content p:nth-of-type(2) {
        grid-column: 1 / span 2;
        grid-row: 5 / span 2;
    }

    #longboard{
        margin: 1.5rem;
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
        align-self: center;
    }

    #skateboard {
        margin: 1.5rem;
        grid-column: 3 / span 2;
        grid-row: 3 / span 1;
        align-self: center;
    }
        
    #surfing {
        margin: 1.5rem;
        grid-column: 3 / span 2;
        grid-row: 5 / span 1;
        align-self: center;
    }
    
    #idownhill {
        margin: 1.5rem;
        grid-column: 3 / span 2;
        grid-row: 6 / span 1;
        align-self: center;
    }

    /* desktop freeride page */

    .freeride_content #yt_vid {
        max-width: 50em;
        max-height: 100%;
    }

    .freeride_content p {
        max-width: 35em;
        max-height: 100%;
        align-items: center;
    }

    .img_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .img_container #fr_image1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        width: 100%;
        height: 90%;
    }

    .img_container #fr_image2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        width: 100%;
        height: 90%;
    }

    .img_container #fr_image3 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        width: 100%;
        height: 90%;
    }

    .img_container h3:nth-of-type(1){
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .img_container p:nth-of-type(1) {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }

    .img_container h3:nth-of-type(2){
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }

    .img_container p:nth-of-type(2) {
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;
    }

    .img_container h3:nth-of-type(3){
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
    }

    .img_container p:nth-of-type(3) {
        grid-row: 3 / span 1;
        grid-column: 3 / span 1;
    }

    /* desktop media page */
    div#image_gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #image_gallery .image2 {
        grid-row: 2 / span 2;
        grid-column: 2 / span 1;
    }

    #image_gallery .image1 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    #image_gallery .image3 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    #image_gallery .image4 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    #image_gallery .image6 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
}

/* Super large screen */
@media screen and (min-width: 1600px){
    .index_content {
        grid-template-columns: repeat(4, 1fr);
    }
    .index_content h1 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    
    .index_content h2 {
        grid-column: 3 / span 2;
        grid-row: 4 / span 1;
    }
     
    .index_content p:first-of-type {
        grid-row: 2 / span 1;
    }

    .index_content p:nth-of-type(2) {
        grid-column: 3 / span 2;
        grid-row: 5 / span 1;
    }
    
    #longboard{
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }
    
    #skateboard {
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
    }
    
    #surfing {
        margin: 1.5rem;
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    
    #idownhill {
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    /* .skip a{
      -webkit-transition: none;
      transition: none;        
     } */
  
    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }
  }
